
header, nav, main, footer {
    padding: 1em; 
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
.featured-cat {
    margin-top: 20px;
}


/*
   homepage
*/
#featured-cats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
}

.cat-item {
    border: 1px solid #ddd; 
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); 
    max-width: 300px; 
    text-align: center; 
}

.cat-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media (max-width: 600px) {
    #featured-cats {
        flex-direction: column;
        align-items: center;
    }
}
select {
    width: 200px; /* Width of the dropdown */
    height: 30px; /* Height of the dropdown */
    margin-bottom: 10px; /* Space below the dropdown */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

/* Style changes for the dropdown when hovered */
select:hover {
    background-color: #f2f2f2;
}

/* Style for the dropdown options */
select option {
    padding: 5px; /* Padding inside each option */
}


/*
cat_detail page
*/


#cat-details {
    border: 1px solid #ddd; 
    padding: 20px; 
    max-width: 800px;
    margin: 20px auto; 
    background-color: #f9f9f9;
}

#cat-details img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    margin: 0 auto; 
    display: block; 
}

#cat-details h2, #cat-details h3 {
    color: #333; 
    text-align: center; 
}

#cat-details p {
    font-size: 1.2em; 
    line-height: 1.6; 
    color: #666; 
    margin-bottom: 20px; 
}
.comments-list {
    border: 1px solid #ccc; /* Adjust color as needed */
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9; /* Light grey background */
    border-radius: 5px; /* Optional: rounded corners */
}

/* Add styles for the CAPTCHA image */
#captcha-container {
  margin-top: 20px; /* Adjust the margin as needed */
  text-align: center; /* Center the captcha */
}

#captcha-container img {
  border: 2px solid #ddd; /* Add a border to the captcha image */
  border-radius: 4px; /* Optional: round the corners */
  padding: 10px; /* Optional: add some padding */
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Keep the aspect ratio */
}

#captcha-container input[type="text"] {
  margin-top: 10px; /* Space between the captcha image and input field */
  width: 150px; /* Match the width of the captcha image */
}

.notification-box {
    background-color: #464444; /* Red */
    color: white;
    padding: 16px;
    margin: 20px 0;
    clear: both;
    text-align: center;
    border-radius: 4px;
  }
  
  /* For the blue button similar to your image */
  .blue-button {
    background-color: #007bff; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .blue-button:hover {
    background-color: #0056b3; /* Darker blue */
    color: white;
  }
  
/*
login
*/


    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
    }
    .signin-container {
        width: 300px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .signin-container h2 {
        text-align: center;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .form-group input[type="submit"] {
        background-color: black;
        color: white;
        cursor: pointer;
    }
    .form-group input[type="submit"]:hover {
        background-color: #333;
    }
    .links {
        text-align: center;
        margin-top: 20px;
    }


/* admin page*/
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; }

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}


.container {
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the table horizontally */
    
    margin-bottom: 100px; /* Adds some space between the sections */
}

table {
    width: auto; /* Or set to a specific width like '80%' if you want it to be narrower */
    margin-top: 20px; /* Space above the table */
}


h2 {
    text-align: center; /* This will center the h2 element text */
}
h3 {
    text-align: center; /* This will center the h2 element text */
}

/* catalog*/

#categorySelectionForm {
    justify-content: center;
 }

    


#breed_selection {
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

/* Section and Cat List Styles */
section {
    padding: 20px;
    background: #fff;
}

section h2 {
    text-align: center;
}

.cat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cat {
    border: 1px solid #ddd;
    padding: 10px; /* Reduce padding to decrease overall size */
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(35% - 20px); /* Four items per row, or adjust percentage as needed */
    margin-bottom: 20px;
    text-align: center; /* Center-align text */
    overflow: hidden; /* Ensures the content fits within the borders */
}

.cat img {
    max-width: 100%; /* Ensure image does not overflow its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and text below */
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertically center the items in the container */
    height: 100vh;
  }
  .left,
  .right {
    display: flex; /* make both columns also flex containers */
    flex-direction: column; /* stack their children vertically */
    justify-content: center; /* center the children vertically */
    align-items: center; /* center the children horizontally */
  }
  .left {
    flex: 1; /* Adjust the value to change the space allocated to the left column */
    
  }

  .right {
    flex: 2; /* Adjust the value to change the space allocated to the right column */
    
  }
